<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <ConnectionSettings>
    <Connections>
      <Connection name="ConnectionA">
        <Environments>
          <Environment name="test1" />
          <Environment name="test2" />
          <Environment name="test3" />
        </Environments>
      </Connection>
    </Connections>
  </ConnectionSettings>
  <appSettings>
    
    <add key="ConnectionA" value=""/>
  </appSettings>
</configuration>